@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

/*
top left (name) doesn't need to be bigger than everything else
sticky topbar

p text for home as a sans serif, make it smaller

*/

html {
    font-size: 100%;
}

body {
    margin: 0;
    margin-bottom: 50px;
    background-color: #1d1d1d;
    font-family: 'Noto Serif', serif;
}

h1,
h2,
h3 {
    color: #C9C49C;
}

h1 {
    font-size: 1.6rem;
    margin: 1rem;
    padding: .8rem;
    padding-left: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

p {
    font-family: 'Noto Sans Display', sans-serif;
    color: #C9C49C;
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
}

a {
    color: #C9C49C;
    transition: all .2s;
}

iframe {
    border-radius: 4px;
    margin: auto;
}

#topbar>a, #links>a {
    font-size: 1.2rem;
    text-decoration: none;
}

.button:link, .button:visited {
    font-size: 1.3rem;
    margin: .75rem .5rem .75rem 0;
    padding: .3rem .75rem .3rem .75rem;
    border-radius: 2px;
    background-color: #C9C49C;
    color: #2e2e2e;
    text-decoration: none;
}

.button:hover, .button:active {
    background-color: #ecebe5;
}

img {
    width: 100%;
    border-radius: 3px;
}

.homeImg {
    margin-bottom: 1.2rem;
}

#container {
    margin: auto;
}

#topbar {
    display: flex;
    padding: 0;
}

#links a {
    margin: 1rem;
    padding: .8rem;

}

#links a:hover, links a:active {
    background-color: #2b2b2b;
}

#links {
    display: flex;
    margin: 0 0 auto auto;
    width: max-content;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

#gridContainer div {
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
}

#gridContainer span {
    margin: 0 auto auto 1.6rem;
}

#gridContainer h2 {
    margin-top: 0;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 1100px) {
    #gridContainer div {
        flex-direction: row;
    }

    .homeImg {
        width: 500px;
    }
}

@media only screen and (min-width: 1300px) {
    .homeImg {
        width: 580px;
    }

    #container {
        width: 80%;
    }
}

@media only screen and (min-width: 1800px) {
    .homeImg {
        width: 680px;
    }

    #container {
        width: 70%;
    }

}